*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
img{
    opacity: 0.8;
    margin-top: 20px;
}
.bloodPressure{
    margin-top: 20px;
    
}
.bp-info{
    padding: 26px;
    margin:28px;
    text-align: left;
    line-height: 2rem;
    font-size: 18px;
}
h2{
    text-align: center;
}
.bp-symptoms
{
    padding: 26px;
    margin:28px;
    text-align: left;
    line-height: 2rem;
    font-size: 18px;
}
.bp_symptns1{
    margin-top: 18px;
}
.symptons_li{
    margin-left: 18px; 
}

.prevention{
    padding: 26px;
    margin:20px;
    text-align: left;
    line-height: 2rem;
    font-size: 18px;
}
.prevention_1{
    margin-top: 18px;
}
.info_p1{
    font-size: 20px;
    padding-bottom: 20px;
}
.prevent_li{
    margin-left: 18px; 
}
marquee{
    color: red;
}